<div class="absolute right-4 bottom-4 text-right hidden lg:block"
     style="color: white">
  <p class="mb-1"
     [ngStyle]="{
       fontSize: 'var(--text-base)',
       fontWeight: 'var(--font-weight-normal)',
       lineHeight: '1.5',
       margin: '0'
     }">
    Coyote Creek Golf Course
  </p>
  <p [ngStyle]="{
       fontSize: 'var(--text-base)',
       fontWeight: 'var(--font-weight-normal)',
       lineHeight: '1.5',
       margin: '0'
     }">
    Fort Lupton, Colorado
  </p>
</div> 